/* Estilos generales de reseteo */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Se establece la fuente de Google */
html {
    font-family: 'Arimo', sans-serif;
}

/* Se estiliza los vinculos */
a {
    text-decoration: none;
    color: #000;
    font-family: inherit;
    font-size: 15px;
}

/* Se establece la imagen de fondo, color de fondo */
body {
    background-color: #121113;
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Se aplican separaciones arriba y abajo del logo */
.logo {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 10%;
}

/* Contenedor de los botones */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos de todos los iconos */
.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* Estilos base de los botones */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    min-width: 90%;
    height: 60px;
    margin-bottom: 15px;
    background-color: rgba(71, 71, 71, 0.87);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

/* Estilo cuando se pulsa un boton */
.btn:active {
    background-color: rgba(71, 71, 71, 1);
}

/* Color para el boton de eventos deportivos */
.red {
    background-color: #B50004;
}

/* Contenedor de boton de Demo */
.demoMagis {
    margin-top: 5%;
}

/* Estilos para el boton de demo */
.demoBtn {
    background-color: transparent;
    border: 1px solid #fff;
}

/* degradado para el background */
.gradient {
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: -1;
}

/* Posicionamiento de botones con dropdown */
.dropdown {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

/* Oculta los checkbox */
.dd-input {
    display: none;
}

/* Estilos del menu que se desplega */
.dd-menu {
    position: absolute;
    font-weight: 700;
    text-transform: uppercase;
    width: 90%;
    top: 100%;
    border-radius: 9px;
    padding: 20px;
    text-align: center;
    margin: 2px 0 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    list-style-type: none;
    transition: all 200ms linear;
    z-index: 100;
}

/* Se oculta el menu desplegable por defecto */
.dd-input+.dd-menu {
    display: none;
}

/* Se muestra el menu al marcar el checkbox */
.dd-input:checked+.dd-menu {
    display: block;
}

/* Estilos de lista del menu desplegable */
.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

/* Estilos de texto de lista de menu desplegable */
.dd-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 20px;
}
.dropv2 {
    z-index: 200;
}
